/* Sitewide CSS Goes Here */
:root {
    /* "red theme" */
    --theme-background: rgba(168, 9, 9, 1);
    --theme-background-transparent: rgba(168, 9, 9, .75);

    /* blue theme */
    /* --theme-background: rgb(17, 17, 226);
    --theme-background-transparent: rgba(17, 17, 226, 0.80); */

    /* dark blue theme */
    /* --theme-background: rgba(11, 11, 126, 1);
    --theme-background-transparent: rgba(11, 11, 126, .75); */

}
 body {
    /* margin: 50px; */
    margin: 0;
    box-sizing: border-box;
    font-family: 'Raleway', Helvetica, Arial, sans-serif;
    font-size: 16px;
}


.nav {
    /* grid-column: 1 / -1;
    grid-row: 1 /2;
    text-align: center; */
    color: white;
    background: var(--theme-background);
    min-height: 20px;
}





